input {
  border-radius: 10px;
  padding: 10px;
}
button:disabled {
  border-color: red;
  color: grey;
}
.invalid-input input{
  border-color: red;
  background-color: hotpink;
}

.invalid-input .error{
 color: red;
}